
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1502767217230'); /* IE9*/
  src: url('../font/iconfont.eot?t=1502767217230#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1502767217230') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1502767217230') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1502767217230#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};
.icon-left:before { content: "\e697"; }

.icon-close:before { content: "\e69a"; }

.icon-top:before { content: "\e6a5"; }

.icon-bottom:before { content: "\e6a6"; }

.icon-right:before { content: "\e6a7"; }

.icon-scan:before { content: "\e603"; }

.icon-map:before { content: "\e630"; }

.icon-selectfill:before { content: "\e660"; }

.icon-locationa:before { content: "\e724"; }

.icon-shop:before { content: "\e633"; }

.icon-phone1:before { content: "\e6b9"; }

.icon-xinlang:before { content: "\e618"; }

.icon-lock:before { content: "\e64b"; }

.icon-collect1:before { content: "\e61c"; }

.icon-home:before { content: "\e9bb"; }

.icon-3-copy:before { content: "\e600"; }

.icon-user:before { content: "\e601"; }

.icon-msg:before { content: "\e60c"; }

.icon-date:before { content: "\e676"; }

.icon-phone:before { content: "\e715"; }

.icon-fangdajing:before { content: "\e60b"; }

.icon-order:before { content: "\e602"; }

.icon-add:before { content: "\e617"; }

.icon-decrease:before { content: "\e631"; }

.icon-share:before { content: "\e644"; }

.icon-collect:before { content: "\e673"; }

.icon-pengyouquan:before { content: "\e613"; }

.icon-menu:before { content: "\e609"; }

.icon-circle:before { content: "\e605"; }

.icon-idcode:before { content: "\e661"; }

.icon-left_y:before { content: "\e92f"; }

.icon-wecode:before { content: "\e65f"; }

.icon-qq:before { content: "\e62a"; }

.icon-wechat:before { content: "\e604"; }

.icon-right_y:before { content: "\e9bc"; }
